<template>
  <story title="Button" :layout="{ type: 'grid', width: 200 }">
    <template #controls>
      <hst-checkbox v-model="disabled" title="Disabled" />
      <hst-text v-model="title" title="Button text" />
    </template>
    <variant
      v-for="(item, index) in buttonsList"
      :key="index"
      :title="item.title"
    >
      <v-button
        @click="logEvent('Clicked button', $event)"
        :variant="item.variant"
        :size="item.size"
        :disabled="disabled"
      >
        {{ title }}
      </v-button>
    </variant>
  </story>
</template>
<script setup>
import { ref } from "vue";
import VButton from "@/components/VButton.vue";
import { logEvent } from "histoire/client";

const buttonsList = [
  {
    variant: "primary",
    size: "medium",
    title: "Primary",
  },
  {
    variant: "outlined",
    size: "medium",
    title: "Outlined",
  },
  {
    variant: "primary",
    size: "large",
    title: "Large",
  },
  {
    variant: "primary",
    size: "small",
    title: "Small",
  },
];

const disabled = ref(false);
const title = ref("Click me");
</script>

<docs lang="md">
## VButton

This is a simple button which has two props:

- variant (primary, outlined)
- size (large, small, medium)
</docs>
