<template>
  <story title="Input">
    <v-input label="Label" v-model="text" placeholder="Placeholder" />
  </story>
</template>
<script setup>
import VInput from "@/components/VInput.vue";
import { ref } from "vue";

const text = ref("Text");
</script>

<docs lang="md">
## VButton

This is a simple input with v-model.
</docs>
