<template>
  <div class="max-w-3xl mx-auto grid grid-cols-6 mt-4">
    <form
      @submit.prevent="submit"
      @reset.prevent="clearForm"
      class="col-span-6 md:col-span-4 md:col-start-2"
    >
      <label for="predefinedQueries">
        <span class="text-gray-800">Predefined queries</span>
        <select
          id="predefinedQueries"
          name="predefinedQueries"
          v-model="selectedQuery"
          :disabled="isLoading"
          class="w-full rounded mb-5 duration-100 border-gray-400 active:bg-gray-400 hover:bg-gray-200 focus:border-gray-800 outline-0 border p-2"
          @change="onChangeQuery($event)"
        >
          <option disabled value="">Select a query</option>
          <option
            v-for="(option, index) in preparedQueries"
            :key="index"
            :value="option.value"
          >
            {{ option.text }}
          </option>
        </select>
      </label>
      <div class="w-full" @submit="submit">
        <span class="text-gray-800">Query</span>
        <label for="query">
          <textarea
            id="query"
            name="query"
            v-model="query"
            :disabled="isLoading"
            class="w-full rounded resize-none border-gray-400 border p-3 outline-0 focus:border-gray-800"
            placeholder="Enter your query"
            rows="4"
          />
        </label>
        <div class="grid grid-cols-2 gap-5 mt-4">
          <v-button :disabled="isDisabledSubmitting" type="submit">
            Submit
          </v-button>
          <v-button type="reset" variant="outlined" :disabled="isLoading">
            Clear
          </v-button>
        </div>
      </div>
    </form>
    <p
      class="col-span-6 md:col-span-4 md:col-start-2 font-medium mt-6 mb-2 text-xl"
    >
      Response
    </p>
    <div class="col-span-6 rounded h-64 md:col-span-4 md:col-start-2 border">
      <ul
        v-if="resultList && resultList.length && !isLoading"
        class="h-full overflow-y-auto"
      >
        <li
          class="h-8 line px-5 flex items-center"
          :class="{ 'bg-gray-200': id % 2 === 0 }"
          v-for="{ title, id } in resultList"
          :key="id"
        >
          <span class="text-gray-500 mr-2">{{ id }}</span>
          {{ title }}
        </li>
      </ul>
      <div
        v-else
        class="w-full h-full p-4 flex items-center justify-center flex-col"
      >
        <p v-if="isLoading">Loading...</p>
        <p v-else-if="!resultList || !resultList.length">No data</p>
      </div>
    </div>
  </div>
  <teleport to="body">
    <transition name="slide-bottom">
      <div
        v-if="isError"
        class="bg-red-600 text-white fixed bottom-0 w-screen justify-center px-4 py-3 flex items-center"
      >
        <p class="font-medium mr-3">Error. Please, try again.</p>
        <button
          class="duration-100 hover:bg-white rounded hover:text-black outline-0 border px-5 py-1"
          @click="isError = false"
        >
          Close
        </button>
      </div>
    </transition>
  </teleport>
</template>

<script setup>
import { computed, ref } from "vue";
import axiosInstance from "@/api/axios";
import VButton from "@/components/VButton.vue";

const query = ref("");
const selectedQuery = ref(null);
const resultList = ref([]);

const isLoading = ref(false);
const isError = ref(false);

const clearForm = () => {
  selectedQuery.value = null;
  query.value = "";
  resultList.value = [];
};

const onChangeQuery = (event) => {
  query.value = event.target.value;
  submit();
};

const submit = async () => {
  isLoading.value = true;
  resultList.value = [];
  try {
    const foundQuery = preparedQueries.find((q) => q.value === query.value);
    if (!foundQuery) {
      selectedQuery.value = null;
    } else {
      selectedQuery.value = foundQuery.value;
    }
    const res = await axiosInstance.get(foundQuery?.value || "/objects");
    // The lines below seem strange but the Mockend server sometimes returns the HTML with the warning about their billing plans.
    // So we need to check the response this way. I changed the plan in Mockend, but sometimes I still see that HTML in response.
    if (!Array.isArray(res.data)) {
      resultList.value = [];
      isError.value = true;
    } else {
      resultList.value = res.data;
    }
  } catch (e) {
    console.error(e);
    isError.value = true;
  } finally {
    isLoading.value = false;
  }
};

const isDisabledSubmitting = computed(() => {
  return isLoading.value || !query.value.trim();
});

const preparedQueries = [
  {
    text: "Get Posts",
    value: "/posts",
  },
  {
    text: "Get Comments",
    value: "/comments",
  },
  {
    text: "Get Users",
    value: "/users",
  },
];
</script>
