<template>
  <div class="p-5 h-screen w-screen flex items-center justify-center flex-col">
    <h1 class="text-6xl font-medium text-center mb-5">404</h1>
    <router-link
      class="duration-100 border-gray-400 active:bg-gray-400 hover:bg-gray-200 focus:border-gray-800 outline-0 border px-5 py-2"
      to="/"
    >
      Home Page
    </router-link>
  </div>
</template>
