<template>
  <button
    class="duration-100 disabled:opacity-50 disabled:cursor-not-allowed outline-0 h-10 rounded px-5"
    :class="{
      'h-12': size === sizeTypes.large,
      'h-8': size === sizeTypes.small,
      'px-3': size === sizeTypes.small,
      'px-7': size === sizeTypes.large,
      'bg-blue-500': variant === variantTypes.primary,
      'active:bg-blue-800': variant === variantTypes.primary,
      'hover:bg-blue-600': variant === variantTypes.primary,
      'focus:bg-blue-700': variant === variantTypes.primary,
      'text-white': variant === variantTypes.primary,
      'bg-transparent': variant === variantTypes.outlined,
      border: variant === variantTypes.outlined,
      'border-blue-500': variant === variantTypes.outlined,
      'text-blue-500': variant === variantTypes.outlined,
      'active:bg-blue-300': variant === variantTypes.outlined,
      'hover:bg-blue-100': variant === variantTypes.outlined,
      'focus:bg-blue-200': variant === variantTypes.outlined,
    }"
    v-bind="$attrs"
  >
    <slot />
  </button>
</template>

<script setup>
import { sizeTypes, variantTypes } from "@/types";

defineProps({
  variant: {
    type: String,
    default: variantTypes.primary,
  },
  size: {
    type: String,
    default: sizeTypes.medium,
  },
});
</script>
