<template>
  <label :for="id">
    <span v-if="label" class="mb-1 block text-gray-700">
      {{ label }}
    </span>
    <input
      v-bind="$attrs"
      :value="modelValue"
      @input="$emit('update:modelValue', $event.target.value)"
      class="rounded h-10 px-3 border-gray-400 border outline-0 focus:border-gray-800"
    />
  </label>
</template>

<script setup>
defineProps({
  id: {
    type: String,
    default: "",
  },
  label: {
    type: String,
    default: "",
  },
  modelValue: {
    type: String,
    default: "",
  },
});
defineEmits(["update:modelValue"]);
</script>
