<template>
  <header class="px-5 py-3 shadow-md">
    <div class="max-w-3xl mx-auto flex justify-center">
      <router-link to="/" class="font-medium text-4xl outline-gray-400">
        Query App
      </router-link>
    </div>
  </header>
  <main class="p-5">
    <router-view />
  </main>
</template>
